@{
    ViewData["Title"] = "Home Page";
}
@model IEnumerable<ResumeCheckSystem.Models.User>

    <!-- class="text-center"  TO CENTER IT -->
@if (!string.IsNullOrEmpty(ViewBag.UserEmail))
{    
    @foreach (var item in Model)
    {
        <h2>@Html.DisplayFor(modelItem => item.FirstName) @Html.DisplayFor(modelItem => item.LastName)</h2>
        <p>@Html.DisplayFor(modelItem => item.Email)</p>
        <hr>
    }
    <button type="button" class="btn btn-outline-dark" onclick="location.href='@Url.Action("Index", "Resume")'">My resume</button>
    <button type="button" class="btn btn-outline-dark" onclick="location.href='@Url.Action("Index", "Vacancy")'">My Vacancy</button>
    <hr>
} 
else
{
    <div class="text-center">
        <h2>@ViewBag.Message</h2>
    </div>
}


